html, body{
	height: 100%;
}

body{
	font-family: "Tahoma";
}

#paralax{
	width: 100%;
	background-color: #e0d9d9;
	height: 405px;
	position: absolute;
	/*background: url("../src/slide1.jpg");
	background-size: 100%;
	background-position: 20% 55%;*/
}

#background{
	background-color: #e6e6e6;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -5;
}

#superior-container{
	position: absolute;
	width: 100%;
	height: 100%;
}

#page-container{
	width: 1024px;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#page-container > #widget-bar{
	height: 5.5em;
	width: 100%;
}

#page-container > #widget-bar > #widget-container{
	float: right;
	width: 40em;
	padding: 1em;
}

#page-container > #widget-bar > #widget-container > #search{
	float: left;
}

#page-container > #widget-bar > #widget-container > #search > input{
	height: 2.5em;
}

#page-container > #widget-bar > #widget-container > #social-media-container{
	width: 20em;
	float: right;
}

#page-container > #widget-bar > #widget-container > #social-media-container > img{
	width: 2.5em;
	height: 2.5em;
	float: right;
	background-color: #777;
	padding: 0.5em;
	margin-left: 0.5em;
}

#page-container > #widget-bar > #widget-container > #social-media-container > img:hover{
	background-color: #999;
}

#page-container > #navigation{
	height: 5em;
	width: 100%;
	background-color: #bfbfbf;
}

#page-container > #navigation > #hamburger{
	height: 5em;
	width: 5em;
	background-color: #888;
	float: left;
	background: no-repeat url("../src/hamburger1.png");
	background-size: 60% 60%;
	background-position: 50%;
}

#page-container > #navigation > #hamburger:hover{
	background-color: #999;
}

#page-container > #navigation > #logo{
	width: 10%;
	height: 5em;
}

#page-container > #navigation > #main-categories{
	float: right;
	width: 80%;
}

#page-container > #navigation > #main-categories > .category{
	float: left;
	display: block;
	height: 1em;
	padding: 2em;
	width: 20%;
	text-align: center;
	font-weight: bold;
}

#page-container > #navigation > #main-categories > .category:hover{
	background-color: #999;
}

#page-container > #cover{
	height: 30em;
	width: 100%;
}

#page-container > #cover > div{
	width: 40%;
	margin-left: 10%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page-container > #cover > div > h1{
	font-size: 1.2em;
	padding-bottom: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#page-container > #cover > div > p{
	line-height: 1.5em;
	text-align: justify;
}

#page-container > #carousel-logo{
	height: 5em;
	width: 100%;
	background-color: #c2b4b4;
}

#page-container > #carousel-logo > div{
	width: 80%;
	height: 5em;
	background-color: #e0dfd9;
	margin: auto;
}

#page-container > #subnavigation{
	height: 4em;
	width: 100%;
	background-color: #d1c6c6;
}

#page-container > #content{
	height: 100%;
	width: 1024px;
	background-color: #f2f2f2;
	position: absolute;
	top: 0em;
	z-index: -4;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 10em;
  height: 10em;
  margin: 0.5em;
  padding: 1em;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}